/* alias:main css */
/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */
html, body {
    font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", STXihei, "华文细黑", Heiti, "黑体", sans-serif;
    /* The html and body elements cannot have any padding or margin. */
}

/* Account for fixed navbar */
body {
    min-width: 970px;
}

.mainarea {
    padding-top: 40px;
    margin-top: 20px;
}

.msg_loading {
    text-align: center;
}

.navbar-header {
    padding-left: 15px;
}

.header-logo {
    background: url(../img/logo.png) no-repeat;
    width: 45px;
    text-indent: -999px;
    margin-top: 5px;
    padding-top: 10px;
}

.feedback {
    position: fixed;
    top: 60%;
    right: 0;
}

.goto-top {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    background: url(../img/gotop.gif) no-repeat;
    bottom: 30px;
    right: 20px;
    z-index: 9999;
}

.btn-feedback {
    border-radius: 0px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #dddddd;
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
    max-width: none !important;
    width: 970px;
}

.container .navbar-header,.container .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
    float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-toggle {
    display: none;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand {
    margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}

.navbar-nav > li {
    float: left;
}

.navbar-nav > li > a {
    padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
    padding-left: 15px;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff !important;
    background-color: #428bca !important;
}

.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #999 !important;
    background-color: transparent !important;
}

/* search */
.input-group-btn > .btn {
    border-left-width: 0;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.input-group .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #cccccc;
}

#searchform .input-group {
    width: 200px;
}

.searchbar {
    padding-right: 50px;
}

.messageicon {
    top: 3px;
}

#message_box {
    width: 250px;
}

#message_box .msg_name {
    color: #2C47B1;
}

#message_box .msg_title {
    color: #003399;
    width: 550px;
    white-space: pre-wrap;
}

/* login panel */
#loginPanel {
    margin-top: 2px;
    padding: 15px;
}

#loginPanel .input-group {
    padding: 10px 0px;
}

#loginForm .loginrmb {
    width: 230px;
    padding: 0px;
}

#loginForm #btnLogin {
    width: 235px;
}

/* end login panel */

/* recommend start */
div.rrecommend {
    padding-left: 20px;
}

.rrecommend section {
    padding: 10px 45px 10px 10px;
}

div.recomdhead {
    padding-top: 10px;
    margin-left: -20px;
    margin-bottom: 10px;
}

div.recomdhead span {
    font-size: 15px;
    word-wrap:break-word;
    overflow:hidden;
}

.tags .tagtitle {
    padding: 5px 0;
}

.tagtitle a {
    text-decoration: none;
    color: #000000;
}

.tagtitle a span {
    display: block;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
}
/* recommend end */

.play {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    left: 50%;
    margin-left: -30px;
    height: 60px;
    width: 60px;
    text-align: center;
    overflow: hidden;
    background: #222;
    line-height: 50px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-radius: 35px;
    opacity: .9;
    border: 5px solid #fff;
}

#hfooter {
    margin-left: -20px;
    background-color: #fff;
    border: 1px solid #e1e8ed;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
}

/* index footer start */
#hfooter ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: table;
}

#hfooter .footer-item {
    float: left;
    border-radius: 0.25em;
    color: #FFFFFF;
    display: inline;
    font-size: 12px;
    margin: 5px 0;
    margin-right: 5px;
    font-weight: bold;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

#hfooter .footer-item a {
    text-decoration: none;
}
/* index footer end */

/* common footer start */
#cfooter {
    text-align: center;
    height: 150px;
    padding-top: 50px;
}

/* home css start */
.artileparam {
    color: #000000;
}

a {
    color: rgb(0, 135, 247);
    text-decoration: none;
}

a.article_title {
    text-decoration:none;
    /*font-weight: bold;*/
    color: #000;
}

a.article_title:hover {
    color: #4499EE;
    text-decoration:none;
}

.container .row .col-xs-2 {
    padding-left: 30px;
    padding-top: 5px;
}

.artsection {
}

.artshare {
    padding-top: 5px;
    padding-bottom: 45px;
}

.dnav {
    padding: 3px;
}

span.tnav {
    font-size: 27px;
    word-wrap:break-word;
    overflow:hidden;
}

.sectionhr {
    height: 1px;
    border: none;
    border-top: 1px solid #dddddd;
}

.nav-point {
    padding-bottom: 5px;
}

/* vote start */
.vertical-vote {
    padding-left: 10px;
    padding-top: 10px;
    width: 42px;
}

.vertical-vote li {
    list-style-type: none;
    margin-bottom: 10px;
}

.vertical-vote a {
    display: block;
    width: 42px;
    height: 32px;
    border: 1px solid rgb(221, 221, 221);
    overflow: hidden;
    text-indent: -999px;
    border-radius: 3px;
}

.vertical-vote a:hover {
    border-color: rgb(153, 153, 153);
}

.vertical-vote a.up {
    background: url(../img/sticky-vote.png) no-repeat scroll 0% 0% transparent;
}

.vertical-vote a.up_c {
    background: #fff url(../img/sticky-vote.png) no-repeat scroll -42px 0px;
}

.vertical-vote a.down {
    background: url(../img/sticky-vote.png) no-repeat scroll 0px -32px transparent;
}

.vertical-vote a.down_c {
    background: #fff url(../img/sticky-vote.png) no-repeat -42px -32px;
}

.vertical-vote a.del {
    height: 42px;
    background: #fff url(../img/delbtn.png) no-repeat 0px 0px;
}

.vertical-vote a.tocomment {
    background: url(../img/other-buttons.png) no-repeat scroll 0px -32px transparent;
}
/* vote end */

/* home css end */