.article-display {
    padding-right: 20px;
}

.linebar {
    background-color: #ffffff;
    width: 100%;
}

.barfixed {
    position:fixed;
    top: 0;
    z-index: 1050;
    width: 605px;
    background-color: #FFFFFF;
}

.article-fn {
    display: table;
    padding: 5px 0px;
}

.article-fn a {
    height: 35px;
}

div.sharediv {
    display: inline;
    float: left;
}

div.sharediv > div {
    margin-top: 2px;
}

div.bd_weixin_popup_foot {
    height: 60px;
}

div.votebar {
    float: right;
    margin-right: 10px;
}

div.pagerline {
    float: right;
}

div.commentbar {
    margin-top: 20px;
}

.userreplydiv {
    padding-top: 5px;
}

#articlereplies {
    margin-bottom: 50px;
}

#articlereplies .row {
    padding: 10px 0px;
}

.row div.myreplay {
    float: left;
    width: 90%;
}

.row div.myreplybtn {
    float: left;
    width: 100%;
    padding: 5px 0px;
    text-align: right;
    display: block;
}

.row div.useravatar {
    float: left;
    padding: 0px 10px 0 0;
    width: 10%;
    text-align: center;
}

.row div.userreply {
    float: left;
    width: 90%;
}

div.cmtreplybar a {
    padding: 0 5px;
}

div.comment-deletion {
    font-size: 14px;
    height: 64px;
    padding-top: 10px;
}

div.media {
    border-bottom: 1px dotted #d9d9d9;
}