.atitle {
    font-size: 27px;
    padding: 0px;
    word-wrap:break-word;
    overflow:hidden;
}

.artcontent {
    margin-top: -50px;
}

.sharetoolbar {
    background-color: #ffffff;
}

.barfixed {
    position:fixed; 
    padding-top: 3px;
    padding-right: 5px;
    top: 0;
    height: 50px;
    z-index: 1050;
    width: 945px;
}

.col-xs-7 {
    width: 64%;
}

.col-xs-5 {
    width: 36%;
}

div.points {
    padding: 2px 0px;
}

div.acomment {
    padding: 5px 0px 5px 0px;
}

div.sharediv {
    display: inline;
    float: left;
}

div.apoint {
    display: inline;
    float: right;
}

.atags {
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 50px;
}

div.pagerline {
    text-align: center;
    padding: 5px 0px 5px 40px;
}

.horizontal-vote {
    overflow: hidden;
    float: right;
    list-style-type: none;
}

.horizontal-vote span {
    float: left;
    margin-left: 4px;
}

.horizontal-vote a {
    display: block;
    width: 42px;
    height: 35px;
    border: 1px solid #ddd;
    overflow: hidden;
    text-indent: -999px;
    border-radius: 3px;
}

.horizontal-vote a.up {
    background: #fff url(../img/sticky-vote.png) no-repeat;
}

.horizontal-vote a.down {
    background: #fff url(../img/sticky-vote.png) no-repeat 0 -32px;
}

.horizontal-vote a.up_c {
    background: #fff url(../img/sticky-vote.png) no-repeat scroll -42px 0px;
}

.horizontal-vote a.down_c {
    background: #fff url(../img/sticky-vote.png) no-repeat -42px -32px;
}

span.rcmdtitle {
    display: block;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
}

#commentArea {
    padding-top: 10px;
}

.userreplydiv {
    padding-top: 5px;
}

#articlereplies .row {
    padding: 10px 0px;
}

.row div.myreplay {
    float: left;
    width: 90%;
}

.row div.myreplybtn {
    float: left;
    width: 100%;
    padding: 5px 0px;
    text-align: right;
    display: block;
}

.row div.useravatar {
    float: left;
    padding: 0px 10px 0 0;
    width: 10%;
    text-align: center;
}

.row div.userreply {
    float: left;
    width: 90%;
}

div.cmtreplybar a {
    padding: 0 5px;
}

.media,.media-body {
  overflow: hidden;
  zoom: 1;
}

.media,.media .media {
  margin-top: 15px;
}

.media:first-child {
  margin-top: 0;
}

.media-object {
  display: block;
}

.media-heading {
  margin: 0 0 5px;
}

.media > .pull-left {
  margin-right: 10px;
}

.media > .pull-right {
  margin-left: 10px;
}

.media-list {
  padding-left: 0;
  list-style: none;
}