.jumbotron {
    text-align: center;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

#timeliner {
    width: 960px;
    margin: 0 auto;
}

.item {
    width: 458px;
    margin: 20px 10px 10px 10px;
    float: left;
    background-color: #ffffff;
    border: solid 1px #B4BBCD;
    min-height: 50px;
    text-align: center;
    word-wrap: break-word;
}