.profile-header
{
    text-align: center;
    padding: 35px 0 25px 0;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 50px;
}

.profile-header .img-user-avatar {
    border-radius: 5px;
}

.profile-navbar {
    border-radius: 0;
    margin-bottom: -45px;
}

.profile-nav > li > a {
    padding: 15px 10px;
    margin: 0 50px 0 0;
    border-bottom: 3px solid transparent;
}

.profile-nav > li > a:hover {
    color: #FFFFFF;
    border-bottom: 3px solid #000000;
}

.profile-nav > li > .selected {
    color: #000;
    font-weight: bold;
    border-bottom: 3px solid #0087f7;
}

#timeliner {
    width: 960px;
    margin: 0 auto;
}

.item {
    width: 310px;
    margin: 0px 5px 10px 0px;
    background-color: #ffffff;
    border: solid 1px #B4BBCD;
    min-height: 50px;
    text-align: center;
    word-wrap: break-word;
    border-radius: 10px;
}

.item .title {
    padding: 5px;
    background-color: #0480be;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item .title a {
    color: #FFFFFF;
    text-decoration: none;
}

.dcfm {
    font-size: 18px;
    line-height: 30px;
}