.jumbotron
{
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

#timeliner {
    width: 960px;
    margin: 0 auto;
}

.item {
    width: 310px;
    margin: 0px 5px 10px 0px;
    background-color: #ffffff;
    border: solid 1px #B4BBCD;
    min-height: 50px;
    text-align: center;
    word-wrap: break-word;
    border-radius: 10px;
}

.item .title {
    padding: 5px;
    background-color: #0480be;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.item .title a {
    color: #FFFFFF;
    text-decoration: none;
}

.dcfm {
    font-size: 18px;
    line-height: 30px;
}